PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=replace_with_db_name
MYSQL_USER=replace_with_db_user
MYSQL_PASSWORD=replace_with_db_password
JWT_SECRET=replace_with_jwt_secret
CORS_ORIGIN=replace_with_frontend_url
